.frosted-box {
  width: 325px;
  height: 230px;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 32px;
  background: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(100px);
  box-shadow:
    0px 5px 1.5px -4px rgba(5, 5, 5, 0.25),
    0px 6px 4px -4px rgba(5, 5, 5, 0.1),
    0px 6px 13px 0px rgba(5, 5, 5, 0.1),
    0px 24px 24px -16px rgba(5, 5, 5, 0.09),
    2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;

  border-image-source: linear-gradient(
    158.39deg,
    rgba(255, 255, 255, 0.06) 14.19%,
    rgba(255, 255, 255, 0.000015) 50.59%,
    rgba(255, 255, 255, 0.000015) 68.79%,
    rgba(255, 255, 255, 0.015) 105.18%
  );
  border-image-slice: 1;
  position: absolute;
  top:50px;
  left:118px
  
}

.frosted-img {
  width: 110%;
  height: 120%;
  object-fit: cover;
  display: block;
}
