 
 /* src/app/globals.css */
 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

 
@import "tailwindcss";

@theme {
  --font-display: "Rubik", sans-serif;
  --color-accent-orange: #D4541DF2;
  --color-dark-gray: #4A4A4A;
  --color-text-light: #B0B0B0;
  --color-white: #FFFFFF;
  --gradient-start: #F28C38;
  --gradient-end: #FF6B35;
}
.gradient-section {
  background: 
    linear-gradient(180deg, rgba(248, 248, 248, 0.02) 0%, rgba(248, 248, 248, 0.0002) 100%),
    linear-gradient(123.8deg, rgba(248, 248, 248, 0.03) 0%, rgba(248, 248, 248, 0) 46.5%);

  border: 1px solid transparent;
  border-radius: 40px;

  border-image-source: linear-gradient(
    158.39deg,
    rgba(255, 255, 255, 0.06) 14.19%,
    rgba(255, 255, 255, 0.000015) 50.59%,
    rgba(255, 255, 255, 0.000015) 68.79%,
    rgba(255, 255, 255, 0.015) 105.18%
  );
  border-image-slice: 1;
}
