@import "tailwindcss";
@theme {
  --font-display: "Rubik", sans-serif;
  --color-accent-orange: #D4541DF2;
  --color-dark-gray: #4A4A4A;
  --color-text-light: #B0B0B0;
  --color-white: #FFFFFF;
  --gradient-start: #F28C38;
  --gradient-end: #FF6B35;
}